*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
}
.row{
				width: 1050px;
				margin: 0 auto;
}
.section-title{
				font-family: 'Poppins', sans-serif;
				text-align: center;
				font-size: 40px;
				font-weight: 800;
}
header{
				background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("img/laptop-2557576_1920.jpg");
				height: 100vh;
				background-size: cover;
				background-attachment: fixed;
}
#navbar{
				background: rgba(0,0,0,0.60);
				position: fixed;
				width: 100vw;
				z-index: 10;
}
#navbar ul{
				display: flex;
				justify-content: center;
}
#navbar ul:last-child{
				margin-right: 0;
}
#navbar ul li{
				list-style: none;
				padding: 18px;
				margin-right: 40px;
				margin-left: 40px;
}
#navbar ul li a{
				text-decoration: none;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
				color: #fff;
}
.welcome-title{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				width: 80%;
}
.welcome-title h2{
				font-family: 'Poppins', sans-serif;
				color: #fff;
				font-size: 122px;
				line-height: 0.9;
				text-align: center;
}
.welcome-title h4{
				font-family: 'Poppins', sans-serif;
				color: #fff;
				font-size: 50px;
				text-align: center;
}
.grid-2{
				display: grid;
				grid-template-columns: 1fr 1fr;
}
#about{
				margin-top: 100px;
}
#about img{
				width: 500px;
}
#about p{
				font-size: 20px;
				font-family: 'Montserrat', sans-serif;
				margin-top: 100px;
}